<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">


    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <header>
      <nav class="be-red white large-padding">
        <ul class="no-list row center-xs middle-xs">
          <li class="col-md">
            <h1 id="logo" class="no-margin">Blog Facilito</h1>
          </li>
          <li class="col-md">
            <%= link_to "Inicio", root_path%>
          </li>
          <li class="col-md">Diseño</li>
          <li class="col-md">Programación</li>
          <li class="col-md">Tecnologia</li>

        </ul>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>
